a,html {
    color: #3A4145;
}
html, body {
    min-height: 100%;
}
body {
    max-width: 800px;
    margin: 200px auto 100px;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 28px 0;
    background: rgba(255,255,255,0.97);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.24);
}
.header-wrapper {
    max-width: 800px;
    margin: auto;
}
.header .info {
    color: rgb(153, 153, 153);
}
.header .info a{
    color: rgb(102, 102, 102);
}

.subdir {
    margin-left: 55px;
    padding-left: 5px;
    border-left: 1px solid rgb(205, 205, 205);
}