a,html {
    color: #3A4145;
}
html, body {
    min-height: 100%;
}
body {
    max-width: 800px;
    margin: 10vh auto;
}
.footer {
    position: absolute;
    bottom: 0;
}

.footer .info {
    color: rgb(153, 153, 153);
}
.footer .info a{
    color: rgb(102, 102, 102);
}.subdir {
    margin-left: 55px;
    padding-left: 5px;
    border-left: 1px solid rgb(205, 205, 205);
}